{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock %}

      
      
{% block style %} {% endblock %}



{% block banner %} {% endblock %}

{% block content %}
    
    
            <!-- login area start -->
            <div class="login-register-area mtb-60px">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                            <div class="login-register-wrapper">
                                <div class="login-register-tab-list nav">
                                    <a href="{% url 'auth:login' %}">
                                        <h4>ایمیل خود را وارد کنید</h4>
                                    </a>
                                </div>
                                <div class="tab-content">
                                    <div id="lg1" class="tab-pane active">
                                        <div class="login-form-container">
                                            <div class="login-register-form">
                                                
                                                <form action="#" method="post">
                                                    {% csrf_token %}
                                                    
                                                        <label for="id_email">Email:</label>
                                                        <input type="text" name="email" required id="id_email">
                                                    
                                                    <div class="button-box">
                                                        <button type="submit"><span>تایید</span></button>
                                                    </div>
                                                    
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- login area end -->
    
    
    
    
    
    
    
    
    
    
{% endblock %}


{% block scripts %} {% endblock %}
