    <div class="footer-area">
            <div class="footer-container">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 mb-md-30px mb-lm-30px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">درباره ما</h4>
                                    <p class="text-infor">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                    <div class="need-help">
                                        <p class="phone-info">
                                            تماس با ما :
                                            <span class="tm-ltr">
                                                0903 139 7469 <br />
                                                0937 864 9616
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2 mb-md-30px mb-lm-30px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">اطلاعات</h4>
                                    <div class="footer-links">
                                        <ul>
                                            {% if request.user.is_authenticated %}
                                            <li><a href="{% url 'auth:profile' %}">پروفایل</a></li>
                                            {% else %}
                                            <li><a href="{% url 'auth:login' %}">ورود</a></li>
                                            {% endif %}
                                        
                                            <li><a href="{% url 'shop:home' %}">صفحه اصلی</a></li>
                                        
                                            <li><a href="{% url 'orders:my_carts' %}">سبد خرید</a></li>
                                        
                                            <li><a href="{% url 'orders:my_orders' %}">سفارشات</a></li>
                                        
                                            <li><a href="{% url 'tickets:all' %}">پشتیبانی</a></li>
                                        
                                            {% if request.user.is_authenticated %}
                                            <li><a href="{% url 'auth:logout' %}">خروج</a></li>
                                            {% endif %}
                        
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2 mb-sm-30px mb-lm-30px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">دسترسی سریع</h4>
                                    <div class="footer-links">
                                        <ul>
                                            <li><a href="#">مشاهده قوانین</a></li>
                                            <li><a href="#">تخفیفات</a></li>
                                            <li><a href="#">محصولات جدید</a></li>
                                            <li><a href="#">پرفروش ترین ها</a></li>
                                            
                                            {% if request.user.is_authenticated %}
                                            <li><a href="{% url 'auth:profile' %}">پروفایل</a></li>
                                            {% else %}
                                            <li><a href="{% url 'auth:login' %}">ورود</a></li>
                                            {% endif %}
            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 ">
                                <div class="single-wedge">
                                    <div class="social-info">
                                        <ul>
                                            <li>
                                                <a href="mailto:taygasshop@gmail.com"><i class="fab fa-google"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://t.me/TaygasShop"><i class="fab fa-telegram"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/taygasshop/"><i class="fab fa-instagram"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                
{#								<p class="copy-text">فارسی و <b>راست چین</b> شده</p>#}
                            </div>
                            <div class="col-md-6 text-end">
{#                                <img class="payment-img" src="{% static 'images/icons/payment.png' %}" alt="" />#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
