{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %} {% endblock %}

      
      
{% block style %} {% endblock %}



{% block banner %} {% endblock %}

{% block content %}
    
    {% for t in all_tickets %}
        <div>
        ============================================
        <div>{{ t.title }} - {{ t.status }}</div>
        ------------------------------
        <div>{{ t.text }}</div>
            {% if t.response %}
                <div>{{ t.response }}</div>
            {% endif %}
        ------------------------------
        <div>{{ t.created_date }}</div>
        <div>{{ t.updated_date }}</div>
        ============================================
        </div>
    {% endfor %}
    
    
    <div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">sub</button>
    </form>    
    </div>

    
{% endblock %}


{% block scripts %} {% endblock %}
